output.txt
configuration.json
.vscode\
.vscode/**
.idea/
.venv/**
.ropeproject/**

*.key
*.pem
*.env
*.config
*.log
*.swp
*.DS_Store
Thumbs.db
/bin
/build
/dist
/target
/node_modules
/vendor
/.venv
/.gradle
